<div class="row">
    <div class="card col-md-3 m-1" style="width: 18rem;" *ngFor="let character of characters">
        <img [src]="character.image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{character.name}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Especie : {{ character.species }}</li>
            <li class="list-group-item">Genero :{{ character.gender}}</li>
            <li class="list-group-item">Estado : {{ character.status }}</li>
            <li class="list-group-item">Origen :{{ character.origin.name}}</li>
        </ul>
    </div>
</div>